@media screen and (max-width: 800px) {

	.claimText {
		font-size: 0.7em;
	}
}

@media screen and (min-width: 801px) and (max-width: 1280px) {

	.claimText {
		font-size: 1.0em;
	}
}

@media screen and (min-width: 1281px) {

	.claimText {
		font-size: 1.3em;
	}
}



.claim {
	display: table;						/* vertically center the claim */
	height: inherit;					/* pass through the height for vertically centering */
	margin-top: -20px;					/* adjust vertically centering by content padding */
}

.claimText {
	display: table-cell;				/* vertically center the claim */
	vertical-align: middle;				/* vertically center the claim */

	font-weight: 700;
	color: #333333;
}