@media screen and (max-width: 800px) {

	.headerContainer {
		height: 60px;
	}
}

@media screen and (min-width: 801px) and (max-width: 1280px) {

	.headerContainer {
		height: 100px;
	}
}

@media screen and (min-width: 1281px) {

	.headerContainer {
		height: 120px;
	}
}


.headerContainer {
	width: 100%;
	background-color: #FFFFFF;
}