.menuBar {
	height: 40px;
	background-color: #666666;

	font-size: 0.8em;
	font-weight: 300;
}

.entry {
	display: inline-block;					/* align all elements in one row */

	height: 40px;							/* completely fill the menu bar */
	line-height: 40px;						/* vertically center the text */

	padding-left: 20px;
	padding-right: 20px;
}

.entry:last-child {
	/* margin-right: -30px; */				/* this will align the menu links text(!) with the right content edge */
}

a.entry {
	text-decoration: none;					/* remove line under link */
	color: #FFFFFF;
}

a.entry:hover {
	background-color: #CCCCCC;
}

a.entry:visited {
	color: #FFFFFF;
}

a.entry.active {
	color: #FFFFFF;
	box-sizing: border-box;
	border-bottom: 3px solid #ED6E00;
}